<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Movie Recommendations</title>
  </head>
  <body>
    <div class="container">
      <h1>Movie Recommendations</h1>

      {% if recommendations %}
      <h2>Top 10 Recommended Movies:</h2>
      <ul>
        {% for movie in recommendations %}
        <li>{{ movie['title'] }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No recommendations available.</p>
      {% endif %}

      <a href="/">Go back to the input page</a>
    </div>
  </body>
</html>
